/* MENU */
.nav-bar {
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #4B617E;
    height: 80px;
    position: fixed;
z-index: 1;
}
.nav-bar .menu {
    float: right;
    margin-right: 50px;
  }
.nav-bar li {
    list-style-type: none;
    text-align: center;
    float: left;
    width: 80px;
    margin: 0 10px;
    padding: 5px;
    border: 2px solid #4B617E;
    }
.title {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 150px;
}
.nav-bar a:link {
    color: #4B617E;
    text-decoration: none;
}
.nav-bar a:visited {
    color: #4B617E;
    text-decoration: none;
}
.nav-bar a:hover {
    color: #B7C8F2;
    text-decoration: none;
}
.logo {
    font-size: 4em;
    margin-left: 50px;
}
/* HERO */
.hero {
    position: relative;
    top: 80px;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}
.carousel-item {
    height: 90vh;
}

/* ABOUT */
.about {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

/* OFERTA */
.oferta {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

/* KONTAKT */
.kontakt {
    padding-top: 200px;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}
.kontakt li {
    list-style-type: none;
}
