.nav-bar {
    display: inline-block;
    height: 80px;
    margin: 0 auto;
    width: 100%;
}
.nav-bar .menu {
    float: right;
    background-color: red;
}
.nav-bar li {
    list-style-type: none;
    float: left;
}