/* MENU */
.nav-bar {
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #4B617E;
    height: 80px;
    position: fixed;
    z-index: 1;
}

.nav-bar .menu {
    float: right;
    margin-right: 50px;
}

.nav-bar li {
    list-style-type: none;
    text-align: center;
    float: left;
    width: 80px;
    margin: 0 10px;
    padding: 5px;
    border: 2px solid #4B617E;
    border-radius: 3px;
}

.nav-bar li:hover {
    color: white;
    background-color: #4B617E;
    list-style-type: none;
    text-align: center;
    float: left;
    width: 80px;
    margin: 0 10px;
    padding: 5px;
    border: 2px solid #4B617E;
    border-radius: 3px;
}

.title {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 150px;
}

.nav-bar a:link {
    color: #4B617E;
    text-decoration: none;
}

.nav-bar a:visited {
    color: #4B617E;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #B7C8F2;
    text-decoration: none;
}

.logo {
    font-size: 4em;
    margin-left: 50px;
}

/* HERO */
.hero {
    position: relative;
    top: 80px;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.carousel-item {
    height: 90vh;
}

/* ABOUT */
.about {
    display: flex;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.about-item {
    width: 50%;
    padding: 300px 50px 0 50px;
}

.about-image {
    width: 50%;
    margin-top: 80px;
    background-image: url("img/stare.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* OFERTA */
.oferta {
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.oferta-title {
    padding-top: 100px;
    color: #4B617E;
    font-size: 3rem;
    margin: 0 auto;
}

.oferta-list {
    margin: 50px auto;
}

.oferta-item {
    padding-top: 3px;
    color: #4B617E;
    font-size: 1.5em;
    margin: 20px auto;
    border: #4B617E solid 2px;
    border-radius: 5px;
    width: 30%;
    height: 50px;
}

.oferta-item:hover {
    box-shadow: 1px 1px 5px #4B617E;
}

/* KONTAKT */
.kontakt {
    color: #222529;
    padding-top: 280px;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    background-image: url("img/projekt-white.jpg");
    background-position: center;
    background-repeat: no-repeat;
    }
.contact {
    margin: 0 auto;
}
.contact-title {
    margin: 5px auto;
   }
.footer {
    width: 100%;
    color: #f8f9fa;
    padding: 40px 0;
    margin-bottom: 0;
    background-color: #222529;
    text-align: center;
    font-size: .8em;
}