body {
  margin: 0;
  position: relative;
  font-family: 'Lato', serif;
}

body .landing-page {
  width: 100%;
  margin: 0 auto;
  background-color: #F1F2F2;
  font-family: 'Roboto Mono', monospace;
}

body .landing-page img {
  display: block;
  width: 100%;
  height: auto;
}

body .landing-page .header {
  height: 80px;
  width: 100%;
  background: #5D737E;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .landing-page .header .logo {
  width: 3.5%;
  margin: .5% 0 0;
  -webkit-filter: invert(1);
          filter: invert(1);
}

body .landing-page .header .navigation {
  width: 30%;
  margin: 1.5% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .landing-page .header .navigation a {
  color: white;
  font-size: 1vw;
  text-decoration: none;
}

body .landing-page .header .navigation a:hover {
  text-decoration: underline;
}

body .landing-page .hero {
  height: 80vh;
  width: 100%;
  background: #637984;
}

body .landing-page .hero .text-box {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 9% 0 3%;
  font-size: 4vw;
  color: white;
}

body .landing-page .hero .img-box {
  width: 40%;
  margin: 0 auto;
  border: solid 6px white;
}

body .landing-page .about {
  margin: 20% auto 10%;
}

body .landing-page .about .about-text {
  width: 40%;
  font-size: 1vw;
  text-align: justify;
  margin: 0 auto;
}

body .landing-page .bcg-pic1 {
  background: url("./img/projekt-white.jpg");
  background-attachment: fixed;
  height: 40vh;
  width: 100%;
}

body .landing-page .ofert {
  margin: 10% auto 0;
}

body .landing-page .ofert .ofert-list {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .landing-page .ofert .ofert-list .ofert-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34%;
  margin: 2% 0;
  background: white;
}

body .landing-page .ofert .ofert-list .ofert-row:hover {
  -webkit-box-shadow: rgba(128, 128, 128, 0.1) 5px 5px;
          box-shadow: rgba(128, 128, 128, 0.1) 5px 5px;
}

body .landing-page .ofert .ofert-list .ofert-row .ofert-img {
  width: 10%;
  background: #5D737E;
  height: 0;
}

body .landing-page .ofert .ofert-list .ofert-row .ofert-show {
  height: 100%;
  -webkit-transition: 2s;
  transition: 2s;
}

body .landing-page .ofert .ofert-list .ofert-row .ofert-txt {
  width: 80%;
  font-size: 1.2vw;
}

body .landing-page .ofert .ofert-list .ofert-row .ofert-txt p {
  margin: 0;
  padding: 10% 5%;
  text-align: center;
}

body .landing-page .about-img {
  margin: 5% auto;
  width: 40%;
  opacity: 0;
}

body .landing-page .about-show {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

body .landing-page .kontakt {
  margin: 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .landing-page .kontakt .contact-title {
  width: 28%;
  font-size: 1vw;
  text-align: justify;
  background: white;
}

body .landing-page .kontakt .contact-title .contact-box {
  width: 54%;
  display: block;
  margin: 28% auto;
}

body .landing-page .kontakt .map-box {
  width: 40%;
  padding: 1%;
  background: white;
}

body .landing-page .kontakt .map-box iframe {
  width: 100%;
}

body .landing-page .footer {
  background: white;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .landing-page .header {
    height: 40px;
  }
  .landing-page .header .logo {
    width: 3.5%;
    margin: .5% 0 0;
  }
  .landing-page .header .navigation {
    width: 50%;
    margin: 1.5% 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .landing-page .header .navigation a {
    font-size: 1.5vw;
    padding-right: 5%;
  }
}
/*# sourceMappingURL=style.css.map */